

.courses-panel {
    width: fit-content;
    margin: 20px auto 0 auto;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    font-size: medium;
  }

.outterDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerDiv{
    margin-top: 20px;
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    width: fit-content;
}